body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* background colors */

html {
  #mountain1 {
    background-image: url("/public/mountains/mountains1.svg");
  }
  #mountain2 {
    background-image: url("/public/mountains/mountains2.svg");
  }
  #mountain3 {
    background-image: url("/public/mountains/mountains3.svg");
  }
  #mountain4 {
    background-image: url("/public/mountains/mountains4.svg");
  }
  #mountain5 {
    background-image: url("/public/mountains/mountains5.svg");
  }
}
